@charset "UTF-8";
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(8, 0, 108), rgb(241, 113, 8));
  padding: 20px;
  padding-bottom: 80px;
  padding-top: 0px;
  height: 500px;
}
.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 160px;
  line-height: 0%;
  z-index: 1;
}
.banner__content img {
  width: 250px;
}
.banner__content__texte1 {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 600;
}
.banner__content__texte2 {
  color: whitesmoke;
  font-size: 20px;
}
.banner__content__texte3 {
  color: rgb(255, 118, 6);
  font-size: 15px;
}
.banner__content .search-bar {
  display: flex;
  align-items: center;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  margin: 20px;
}
.banner__content .search-bar input[type=text] {
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
}
.banner__content .search-bar button {
  background-color: #f58220;
  color: white;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.banner__content .search-bar button:hover {
  background-color: #d8690a;
}
.banner__content .search-bar button i {
  font-size: 22px;
}
.banner .Map {
  width: 270px;
  margin-bottom: 120px;
}
.banner__line {
  position: absolute;
  top: 471px;
  z-index: 0;
  width: 98%;
  height: 46px;
  background-color: black;
  border-radius: 30px;
  border: 1px solid;
  border-color: white;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.banner__line__content {
  width: 50%;
  overflow: hidden;
  background-color: black;
  white-space: nowrap;
}
.banner__line__content p {
  color: white;
  font-size: 17px;
  position: relative;
  animation: mymove 15s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from {
    right: -700px;
  }
  to {
    right: 1500px;
  }
}

.section-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home__info {
  display: flex;
  justify-content: center;
  margin: 35px;
}
.section-home__info__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}
.section-home__info__card img {
  width: 150px;
}
.section-home__info__card i {
  font-size: 35px;
  margin-bottom: 20px;
  color: #0b009f;
}
.section-home__info__card i:hover {
  color: #f58220;
}
.section-home__info__card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.section-home__info__card p {
  font-size: 18px;
  margin-bottom: 10px;
}
.section-home__info__card p a {
  color: #007bff;
  text-decoration: underline;
}
.section-home__info__card p a:hover {
  text-decoration: none;
}
.section-home__stages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5%;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section-home__stages img {
  width: 550px;
}
.section-home__stages__infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-home__stages__infos h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.section-home__stages__infos p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.section-home__stages__infos p a {
  color: #007bff;
  text-decoration: underline;
}
.section-home__stages__infos p a:hover {
  text-decoration: none;
}
.section-home__stages__infos button.orange-button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #ff9800, #ff5722);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}
.section-home__stages__infos button.orange-button:hover {
  background-color: #ff5722;
}
.section-home__stages__infos button.orange-button span {
  display: inline-block;
}
.section-home__stages__img {
  align-self: flex-end;
  margin-left: 20px;
}
.section-home__permis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section-home__permis img {
  width: 550px;
}
.section-home__permis__infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-home__permis__infos h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.section-home__permis__infos p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.section-home__permis__infos p a {
  color: #007bff;
  text-decoration: underline;
}
.section-home__permis__infos p a:hover {
  text-decoration: none;
}
.section-home__permis__infos button.orange-button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #ff9800, #ff5722);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}
.section-home__permis__infos button.orange-button:hover {
  background-color: #ff5722;
}
.section-home__permis__infos button.orange-button span {
  display: inline-block;
}

.slots {
  width: 58%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: white;
  margin-left: 90px;
}
.slots__titles {
  display: flex;
  padding: 0px;
  border: 0;
  padding-left: 10px;
  margin-bottom: 5px;
}
.slots__titles__prix {
  width: 15%;
}
.slots__titles__infos {
  width: 45%;
}
.slots__titles__dates {
  width: 25%;
}
.slots__stages {
  padding: 0;
  border: 0;
}
.slots__stages__product {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0.5px solid rgb(209, 207, 207);
  background-color: whitesmoke;
  height: 100px;
  line-height: 1.5px;
}
.slots__stages__product:hover {
  background: linear-gradient(to right, #0b009f, black);
  color: white;
}
.slots__stages__product__prix {
  width: 15%;
  text-align: center;
}
.slots__stages__product__prix p {
  color: #f58220;
  font-weight: bold;
  font-size: 25px;
}
.slots__stages__product__infos {
  width: 45%;
  padding-left: 10px;
  border-left: 1px solid rgb(185, 182, 182);
  margin-top: 5px;
  margin-bottom: 5px;
}
.slots__stages__product__infos .ville {
  font-weight: bold;
  font-size: 20px;
}
.slots__stages__product__infos .adresse {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slots__stages__product__infos .numero {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slots__stages__product__dates {
  width: 25%;
  line-height: 10px;
}
.slots__stages__product__dates .date {
  font-weight: bold;
  font-size: 14px;
}
.slots__stages__product__dates .place {
  color: rgb(40, 234, 33);
  font-weight: bold;
}
.slots__stages__product__btn {
  text-align: center;
  width: 15%;
}
.slots__stages__product__btn button {
  background: linear-gradient(to right, #f58220, #ff6b00);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.slots__stages__product__btn button:hover {
  background: #ff6b00;
}

.stage-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border: 0.5px solid rgb(209, 207, 207);
  color: grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.stage-form h2 {
  color: black;
}
.stage-form__field {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.stage-form__field label {
  font-size: 14px;
}
.stage-form__field input,
.stage-form__field select {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
  box-shadow: 0px 0px 5px rgb(191, 191, 191);
}
.stage-form__field input:focus,
.stage-form__field select:focus {
  outline: none;
  border-color: #FFA500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}
.stage-form__field--stage {
  flex-direction: initial;
  margin-bottom: 20px;
  align-items: center;
}
.stage-form__field--stage input {
  box-shadow: 0px 0px 0px;
  margin-right: 12px;
}
.stage-form__field__warning-text {
  color: red;
  font-size: 14px;
  width: 90%;
  border: 0.5px solid rgb(209, 207, 207);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}
.stage-form__field-hidden {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border: 0.5px solid rgb(209, 207, 207);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-top: 20px;
}
.stage-form__field-hidden--cas2 {
  padding-bottom: 20px;
}
.stage-form__permis {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  border: 0.5px solid rgb(209, 207, 207);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.stage-form__permis img {
  width: 100%;
}
.stage-form__permis__field {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.stage-form__permis__field--newpermis-date-delivrance {
  position: relative;
  bottom: 469px;
  left: 137px;
}
.stage-form__permis__field--newpermis-ville {
  position: relative;
  bottom: 512px;
  left: 307px;
}
.stage-form__permis__field--newpermis-number {
  position: relative;
  bottom: 480px;
  left: 150px;
}
.stage-form__permis__field--newpermis-olddate {
  position: relative;
  bottom: 480px;
  left: 150px;
}
.stage-form__permis__field--oldpermis-date-delivrance {
  position: relative;
  bottom: 469px;
  left: 137px;
}
.stage-form__permis__field--oldpermis-ville {
  position: relative;
  bottom: 512px;
  left: 307px;
}
.stage-form__permis__field--oldpermis-number {
  position: relative;
  bottom: 480px;
  left: 150px;
}
.stage-form__permis__field--oldpermis-olddate {
  position: relative;
  bottom: 480px;
  left: 150px;
}
.stage-form__submit {
  margin-top: 20px;
}

header {
  background-color: black;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Arial, sans-serif;
  height: 25px;
  /* Hauteur encore plus réduite */
  background: linear-gradient(to bottom, rgb(0, 0, 0) 1%, rgb(8, 0, 108) 99%);
}
header .logo img {
  max-width: 100px;
  max-height: 80px;
  /* Taille réduite de l'image du logo */
}
header .navbar {
  display: flex;
  align-items: center;
}
header .navbar__links {
  font-size: 14px;
  /* Taille de police réduite */
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #f58220;
  color: white;
  padding: 20px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header .navbar__links:hover {
  color: white;
  box-shadow: inset 300px 0 0 0 #f58220;
}
header .login {
  margin-left: 170px;
}
header .login button {
  background: #f58220;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
header .login button:hover {
  background: #ff6b00;
}
header .infos {
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .infos__phone {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  color: #f58220;
}
header .infos__dispo {
  font-size: 12px;
  text-align: center;
  color: white;
}

.stages {
  background-color: whitesmoke;
  width: 100%;
  padding-bottom: 50px;
}
.stages__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.stages__container__route {
  text-align: left;
  font-size: 14px;
  width: 60%;
  padding-left: 90px;
  margin-top: 20px;
}
.stages__container h1 {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  padding-left: 90px;
  margin-bottom: 0;
  margin-top: 1px;
}
.stages__container__text {
  text-align: left;
  font-size: 17px;
  width: 55%;
  padding-left: 90px;
  margin-bottom: 30px;
}
.stages__container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-right: 90px;
}
.stages__container__info__contact {
  background-color: white;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stages__container__info__contact .phone-number {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  color: #f58220;
  margin: 10px;
}
.stages__container__info__contact .service {
  font-weight: bold;
  font-size: 18px;
  margin: 1px;
}
.stages__container__info__contact span {
  color: blue;
}
.stages__container__info__pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: white;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stages__container__info__pay p {
  font-weight: bold;
  margin: 0;
}
.stages__container__info__pay img {
  width: 200px;
  margin-top: 10px;
}

.stage-reservation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 30px;
}
.stage-reservation button {
  background-color: #FFA500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}
.stage-reservation button:hover {
  background-color: #cc8400;
}
.stage-reservation__content {
  display: flex;
  justify-content: center;
  width: 75%;
  padding-top: 30px;
  margin-left: 20px;
}
.stage-reservation__content__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stage-reservation__content__form__payment {
  background-color: aqua;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stage-reservation img {
  width: 300px;
}

/*# sourceMappingURL=style.css.map */
