.stage-reservation {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 30px;

    &__content {
        display: flex;
justify-content: center;
        width: 75%;
        padding-top: 30px;
    }
    img {
        width: 300px;
    }




}