
header {
  background-color: black;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Arial, sans-serif;
  height: 25px; /* Hauteur encore plus réduite */
  background:linear-gradient(to bottom, rgb(0, 0, 0)1%, rgb(8, 0, 108)99%);
 
  .logo {
    img {
    
      max-width: 100px;
      max-height: 80px; /* Taille réduite de l'image du logo */
    }
  }



  .navbar {
    display: flex;
    align-items: center;

    &__links {

      font-size: 14px; /* Taille de police réduite */
      text-decoration: none;

      box-shadow: inset 0 0 0 0 $orange;
      color: white;
      padding: 20px;

      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        &:hover {
          color: white;
          box-shadow: inset 300px 0 0 0 $orange;
        }
    }
    
  }

  .login {
    margin-left: 170px;
    button {
      background: $orange;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background: #ff6b00;
      }
    }
  }
  .infos {
    line-height: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

    &__phone {
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      margin: 0;
      color: $orange;
    }
    &__dispo {
      font-size: 12px;
      text-align: center;
      color: white;
  
      
    }
  }
}




	


