.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(to bottom, rgb(8, 0, 108), rgb(241, 113, 8));
  padding: 20px;
  padding-bottom: 80px;
  padding-top: 30px;
  height: 500px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    line-height: 0%;
    z-index: 1;
    img {
      width: 200px;
    
    }
    
    &__texte1 {
      color: whitesmoke;
      font-size: 35px;
      font-weight: 600;


    }

    &__texte2 {
      color: whitesmoke;
      font-size: 20px;

    }

    &__texte3 {
      color: rgb(255, 118, 6);
      font-size: 15px;

    }

    &__line {
      position: absolute;
      top: 456px;
      z-index: 0;
      width: 100%;
      height: 59px;
      background-color: black;

      display: flex;
      align-items: center;
      p {
        color: white;
        margin-left: 53%;
        font-size: 12px;

      }
    }

    .search-bar {
      display: flex;
      align-items: center;
      width: 400px;
      background-color: white;
      border-radius: 20px;
      padding: 10px;
      margin: 20px;

      input[type="text"] {
        flex: 1;
        border: none;
        font-size: 16px;
        padding: 5px;
        margin-right: 10px;
      }

      button {
        background-color: $orange;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($orange, 10%);
        }
      }
    }
  }

  .Map {
    width: 270px;
    margin-bottom: 120px;
  }
}


