.stage-form {
  max-width: 500px; /* Limite la largeur du formulaire pour qu'il ne prenne pas toute la largeur de l'écran */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);



  /* Styles pour chaque champ de formulaire */
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    


  }

  &__field-stage {
    display: flex;

  }

  &__field-permis {
    display: flex;
    flex-direction: column;


  }

  #delivrance {
    position: relative;
    bottom: 480px;
    left: 150px;
    width: 150px;

  }
  #ville {
    position: relative;
    bottom: 522px;
    left: 310px;
    width: 150px;


  }



  img {
    width: 100%;

  }









  /* Styles pour le bouton Soumettre */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }





}

