.collapse {
  color: $white;
  margin-bottom: 20px;

  &__button {
    color: $light-grey;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 18px;

    @include media-query(small) {
      height: 38px;
    }
    @include media-query(medium) {
      height: 46px;
      border-radius: 10px;
    }
    @include media-query(large) {
      height: 52px;
    }
  }

  &__arrow {
    position: relative;
    right: 10px;
    pointer-events: none;
    transform: rotate(180deg);
    transition: transform 300ms;

    @include media-query(medium) {
      height: 13px;
    }
    @include media-query(large) {
      height: 17px;
    }
  }

  &__content {
    color: $primary-color;
    background-color: $light-grey;
    border-radius: 5px;
    margin-top: -5px;
    z-index: -1;
    max-height: 0;
    overflow: hidden;
    padding-left: 12px;
  }
  &__text {
    margin: 0;
    font-size: 12px;
    @include media-query(medium) {
      font-size: 14px;
    }
    @include media-query(large) {
      font-size: 18px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    @include media-query(medium) {
      font-size: 14px;
    }
    @include media-query(large) {
      font-size: 18px;
    }
  }
  &__list-element {
    margin-bottom: 3px;
  }
}
.rotate {
  transform: rotate(0deg);
}
.show {
  max-height: 500px;
  padding: 24px 12px 12px 12px;
}