.section-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    justify-content: center;
    margin: 35px;

    &__card {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      background-color: #ffffff;

      i {
        font-size: 35px;
        margin-bottom: 20px;
        color: $blueNight;

        &:hover {
          color: $orange;
        }
      }

      h3 {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        margin-bottom: 10px;

        a {
          color: #007bff;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__stages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__infos {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
 
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
     

        a {
          color: #007bff;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      button.orange-button {
        padding: 10px 20px;
        background: linear-gradient(to bottom, #ff9800, #ff5722);
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        color: #ffffff;
        transition: background-color 0.3s;
     

        &:hover {
          background-color: #ff5722;
        }

        span {
          display: inline-block;
        }
      }
    }

    &__img {
      align-self: flex-end;
      margin-left: 20px;
    }
  }

  &__permis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 500px;

    &__infos {
      text-align: center;

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #ffffff;
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #ffffff;

        a {
          color: #007bff;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      button.orange-button {
        padding: 10px 20px;
        background: linear-gradient(to bottom, #ff9800, #ff5722);
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        color: #ffffff;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ff5722;
        }

        span {
          display: inline-block;
        }
      }
    }

    background-image: url('../assets/backgroung-section-permis.png');
  }
}
